---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_BASE, SocialLinks } from '../consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 16)
---

<BaseLayout>
	<main
		class="app-container flex flex-col gap-12 justify-center pt-44 pb-36 md:pt-48 relative"
	>
		<div>
			<p class="block text-3xl opacity-70 mt-9 mb-4">Welcome to</p>
			<h1 class="text-6xl font-bold leading-none">Martinas Webseite</h1>
		</div>
		<p class="text-2xl max-w-2xl font-light leading-normal">
			A simple theme for personal blog sites, created for Astro framework.
		</p>
	</main>

	<!-- Recent Posts Section -->
	<section class="app-container">
		<h2 class="section-title">Recent Posts</h2>
		<div class="posts-grid-container">
			{posts.map((post) => <BlogCard post={post} />)}
		</div>
		<a class="btn-secondary" href={`${SITE_BASE}/blog`}
			>Read All
			<Icon size={20} name="mdi:arrow-right" />
		</a>
	</section>

	<br/>
	<br/>
</BaseLayout>
